<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<table class="table">
    <thead class="table-dark">
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성일시</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article, loop : ${articleList}">
        <td th:text="${loop.count}"></td>
        <td>
            <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
        </td>
        <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" th:href="@{/article/create}">게시글 등록하기</a>
</div>
</html>